.profile-background {
    --background: #003933;
    color: white;
  }
  
  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
  }
  
  .profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1rem 0;
  }
  
  .profile-img {
    width: 100px;
    height: 100px;
  }
  
  .settings-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 22px;
  }
  
  .profile-card {
    margin: 12px;
    background: white;
    border-radius: 15px;
    color: black;
  }
  