<ion-content class="login-page">
  <div class="page-container">
    <div class="logo-container">
      <img src="/assets/DenovoLogoBanner.jpg" alt="Denovo Logo" class="logo" />
    </div>

    <div class="welcome-text">
      <h1>Welcome to Denovo!</h1>
      <p>Login to get Started Today!</p>
    </div>

    <div class="form-container">
      <form (ngSubmit)="login()">
        <ion-input 
          type="email" 
          placeholder="Email" 
          [(ngModel)]="email" 
          name="email" 
          required
          class="input-field">
        </ion-input>

        <ion-input 
          type="password" 
          placeholder="Password" 
          [(ngModel)]="password" 
          name="password" 
          required
          class="input-field">
        </ion-input>

        <div class="forgot-password">
          <p>Forgot Password? <a routerLink="/recover">Click here to Reset.</a></p>
        </div>

        <ion-button expand="block" type="submit" class="login-button">
          LOGIN
        </ion-button>
      </form>
    </div>
  </div>
</ion-content>
